
header {
  text-align: center;
  margin: 20px 0;
}

header img {
  background-image: url('./Pics/Skyscraper-logo.png');
  max-width: 200px;
}

header h1 {
  font-size: 24px;
  color: #495391; 
}

header p {
  font-size: 18px;
  color: #003366; /
}
