.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
  }
  
  .service {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .details {
    margin: 10px 0;
  }
  
  .name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: black;
  }
  
  .tags {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .states {
    font-size: 0.8rem;
    margin-bottom: 0;
  }